/* CSS Document */
body
{
	background-color:#AAAAAA;
	font-family:"Arial", Helvetica, sans-serif;
	padding-top: 2.0em;
	padding-left:5.0em; 
	padding-right: 5.0em;
}


#header
{
	background-color:#404448;
	border-style:solid;
	border-width:1px;
	clear:both;
}

#main
{
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
}

#register
{
	padding-left:20px;	
	padding-bottom:30px;
}

#footer
{
	text-align:right;
}

/* Banner */
#banner
{
	background-image:url(../img/header_fill.png);
	background-repeat:repeat-x;
	height:70px;	
}

#banner .left
{
	float:left;
	height:70px;
	width:159px;
	background-image:url(../img/header_left.png);
}
#banner .right
{
	float:right;
	height:70px;
	width:40px;
	background-image:url(../img/header_right.png);
}

/* Navigation Bar (Menue) */
#navbar
{
	text-align:right;
	display:block;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-right:10px;
}

#navbar li
{
	display:inline;
	list-style: none;
	text-decoration:none;
	color:#FFFFFF;
	padding-right:2px;
}

#navbar a
{
	text-decoration:none;
	color:#FFFFFF;
	
}

/* Formular elements */

form .row
{
	clear: both;
	margin: 1.0em 0.0em;	
	padding: 0.5em 0.0em;
}

form label
{
	float: left;
	text-align: left;
	width:200px;
	padding-left: 30px;
}

form input,select,password
{
	float: left;
	text-align: left;
}

form input[type=text],input[type=password]
{
	width:18.0em;
}

/* Gameboard */

#gameboard
{
	height:600px;
	background-image:url(../img/field_background.png);
	background-repeat:repeat;
	padding-bottom:30px;	
}

#information
{
	width:200px;
	height:200px;
	float:left;
	padding-left:15px;
	background-color:#404448;
}

#information .row
{
	color:#EF9300;
	font-size:0.7em;	
}

#information .heading
{
	color:#EF9300;
	font-size:1.2em;	
	padding-top:10px;
	padding-bottom:10px;
}

#information .wert
{
	color:#FFFFFF;
	float:right;
	margin-right:15px;	
}

#information p
{
	color:#FFFFFF;
	font-size:0.5em;
}

/* Race-Track */

#racetrack
{
	float:left;
	display:block;
	width:123px;
	height:500px;
	padding-top:30px;
	padding-left:70px;
}

#racetrack .top
{
	height:97px;
	background-image:url(../img/start_road.png);
	background-repeat:no-repeat;
}

#racetrack .track
{
	height:300px;
	background-image:url(../img/empty_road.png);
	background-repeat:repeat-y;	
}

#racetrack .bottom
{
	height:97px;
	background-image:url(../img/finish_road.png);
	background-repeat:no-repeat
}

/* Cube */

#cube
{
		width:130px;
		height:130px;
		float:left;
		background-color:#404448;
		
		margin-top:10px;
		margin-left:70px;
		
		/* Border */
			border-width:4px;
			border-style:solid;
			text-align:justify;
			border-color:#FFCC00;
}

#cube .text
{
		width:inherit;
		height:35px;
		padding-top:5px;
		text-align:center;
		color:#FFFFFF;
	  	font-size:1.2em;			
}

#cube .image
{
		height:85px;
		width:85px;
		display:block;
		margin-left: auto;
    	margin-right: auto;
		
}


/* Overwriting standard templates  */
h1
{
	color:#EF9300;
}