/* CSS Document */
body
{
	background-color:#AAAAAA;
	font-family:"Arial", Helvetica, sans-serif;
	padding-top: 20px;
	padding-left:50px; 
	padding-right: 50px;
}


#header
{
	background-color:#404448;
	border-style:solid;
	border-width:1px;
	clear:both;
}

#main
{
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	padding-bottom:30px;
}

#footer
{
	text-align:right;
}

/* Banner */
#banner
{
	background-image:url(../img/header_fill.png);
	background-repeat:repeat-x;
	height:70px;	
}

#banner .left
{
	float:left;
	height:70px;
	width:160px;
	background-image:url(../img/header_left.png);
}
#banner .right
{
	float:right;
	height:70px;
	width:40px;
	background-image:url(../img/header_right.png);
}

/* Navigation Bar (Menue) */
#navbar
{
	text-align:right;
	display:block;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-right:10px;
}

#navbar li
{
	display:inline;
	list-style: none;
	text-decoration:none;
	color:#FFFFFF;
	padding-right:2px;
}

#navbar a
{
	text-decoration:none;
	color:#FFFFFF;
	
}

/* Formular elements */
form .row
{
	clear: both;
	margin: 10px 0px;	
	padding: 5px 0px;
	padding-bottom:20px;
}

form label
{
	float: left;
	text-align: left;
	width:200px;
	padding-left: 30px;
}

form input,select
{
	float: left;
	text-align: left;
}

form input[type=text]
{
	width:180px;
}

/* Gameboard */

#gameboard
{
	background-image:url(../img/field_background.png);
	background-repeat:repeat;	
}

#information
{
	padding-top:10px;
	width:140px;	
	background-color:#404448;
}

#information .heading
{
	color:#EF9300;
	font-size:15px;
}

#information p
{
	color:#FFFFFF;
	font-size:10px;
}

/* Overwriting standard templates  */
h1
{
	color:#EF9300;
}